USE [master]
GO
/****** Object:  Database [EjemploPro]    Script Date: 08/10/2023 05:02:31 p. m. ******/
CREATE DATABASE [EjemploPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EjemploPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\EjemploPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EjemploPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\EjemploPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EjemploPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EjemploPro]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 08/10/2023 05:02:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[Matricula] [varchar](5) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido1] [varchar](20) NOT NULL,
	[Apellido2] [varchar](20) NOT NULL,
	[Edad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Medicos] ([Matricula], [Nombre], [Apellido1], [Apellido2], [Edad]) VALUES (N'A22  ', N'Ricardo                  ', N'Lopez               ', N'Lopez               ', 25)
INSERT [dbo].[Medicos] ([Matricula], [Nombre], [Apellido1], [Apellido2], [Edad]) VALUES (N'A26  ', N'Molly                    ', N'Ovilla              ', N'Robledo             ', 28)
INSERT [dbo].[Medicos] ([Matricula], [Nombre], [Apellido1], [Apellido2], [Edad]) VALUES (N'A29  ', N'Rigo                     ', N'Perez               ', N'Ovando              ', 40)
GO
USE [master]
GO
